<header class="header">
  <div class="logo">
    <a routerLink="/home">
      <img ngSrc="../../../assets/images/logo.png" alt="Hi-Tech Logo" height="1080" width="1920">
    </a>
  </div>

  <button class="mobile-menu-toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="nav" [class.open]="isMenuOpen">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">{{ 'HEADER.HOME' | translate }}</a></li>
      <li><a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">{{ 'HEADER.ABOUT' | translate }}</a></li>
      <li><a routerLink="/services" routerLinkActive="active" (click)="closeMenu()">{{ 'HEADER.SERVICES' | translate }}</a></li>
      <li><a routerLink="/quote-ai" routerLinkActive="active" (click)="closeMenu()">{{ 'HEADER.QUOTE_AI' | translate }}</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">{{ 'HEADER.CONTACT' | translate }}</a></li>
      <li class="lang-selector">
        <button (click)="changeLang('it')" [class.active]="currentLang === 'it'">IT</button>
        <span>|</span>
        <button (click)="changeLang('en')" [class.active]="currentLang === 'en'">EN</button>
      </li>
    </ul>
  </nav>
</header>
