
@if (showSplash) {
  <div class="global-splash-screen" [class.fade-out]="fadeSplash">
    <div class="splash-content">
      <div class="logo-container">
        <img src="/assets/images/logo-trasp.png" alt="Hi-Tech Logo" priority fetchpriority="high"
             loading="eager" width="255" height="86">
      </div>
      <div class="loading-container">
        <div class="loading-bar"></div>
      </div>
    </div>
  </div>
}
<app-header></app-header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

<app-spinner></app-spinner>

<app-chatbot></app-chatbot>
