<div class="partnership-container adastra-section">
  <div class="section-header scroll-reveal" #animatedElement>
    <div class="animated-header">
      <h2 class="section-title"><span class="text-gradient">{{ 'PARTNERSHIP.SUBTITLE' | translate }}</span></h2>
    </div>
  </div>

  <div class="partnership-content scroll-reveal" #animatedElement>
    <div *ngFor="let partner of partners" class="partnership-card glass-card">
      <div class="partner-logo">
        <img [ngSrc]="partner.logo" [alt]="partner.name | translate" class="logo-img" [height]="partner.height" [width]="partner.width">
      </div>
      <div class="partner-info">
        <h3>{{ partner.name | translate }}</h3>
        <p class="partner-desc">{{ partner.description | translate }}</p>
      </div>
    </div>
  </div>
</div>
